.app {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0px;
   background-color: #ededed;
}

.app__container {
   flex: 1;
   height: fit-content;
   max-width: 95%;
   border-radius: 10px;
   background-color: #fff;
   border-radius: 10px;
   display: flex;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 992px) {
   .app__container{
     max-width: 100%;

   }
   .app{
      padding: 0;
   }
 }